<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href="/style" rel="stylesheet">
  <title>Login</title>
</head>
<body>
    <p>
        <i>
            Táto "stránka" využíva súbory "cookies" pre prihlásenie. Po zadaní mena sa vytvorí súbor "cookies" na Vašom počítači.
        </i>
    </p>
    <p>
        <i>
            This "site" uses "cookies" for authentication only. By entering a name a "cookies" file will be created on your computer.
        </i>
    </p>
    <div class="inner">
        <form method="post">
          <label>Name:
            <input name="user_name" autocomplete="name">
          </label>
          <button class="btn2">Go!</button>
        </form>
    </div>
</body>
</html>
